.footer-section{
    padding: 20px 0 50px;
    .f-about{
        .f-logo{
            margin-bottom: 20px;
            img{
                max-width: 115px;
            }
        }

        .f-social{
            ul{
                display: flex;
                li{
                    padding-right: 10px;
                }
            }
        }
    }

    .f-menu{
        ul{
            li{
                a{
                    color: $white;

                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    }
}