.sidebar{
    display: flex;
    flex-direction: column;
    background: $secondary;
    max-width: 250px;
    position: fixed;
    top: 120px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 120px);
    padding: 15px;

    .bottom-menu{
        margin-top: auto;

        .btn{
            color: $primary;

            &:hover{
                color: $white;
            }
        }
    }
}